# Python & Django files
*.pyc
*~
__pycache__
*.log

# Enviroment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Virtual Env folder (Python)
rd-env/


# Node modules & dependencies
node_modules/
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build


# Database
db.sqlite3

# Others
.DS_Store
.vscode
.idea
entrypoint.sh
npm-debug.log*
yarn-debug.log*
yarn-error.log*
migrations/